<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="background-color: #18191f; ">

    <section class="content-main ">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title"></h2>

            </div>

        </div>
        <div class="card mb-4 border-0 " style="background-color: #18191f; ">

            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col col-check flex-grow-0">

                    </div>
                    <div class="col-md-4 col-12 me-auto mb-md-0 mb-3">
                        <h2 style='color: #fff;' class="content-title card-title text-white ">
                            <%=locals.gg %> Sales Report
                        </h2>
                    </div>

                    <div class=" col-6 d-flex align-items-center justify-content-center " style="gap: 1rem;">
                        <% if(locals.custom){ %>
                            <input type="date" onchange="change(this)" name="start" id="start">
                            <input type="date" onchange="change(this)" name="end" id="end">

                            <% } %>
                                <% if(locals.data) {%>

                                    <div class="select">
                                        <form action="/admin/report/download/<%=data  %>" id="myForm" method="post">
                                            <select onchange="execor(this)" id="format" name="report" id="">
                                                <option value="exec">exec</option>
                                                <option value="pdf">pdf</option>

                                            </select>
                                    </div>
                                    <!-- <form action="/admin/report/download/" method="post"> -->
                                    <button type="submit" class="btn bg-danger text-white"
                                        type="submit">Download</button>
                                    </form>

                                    <!-- </form> -->
                                <% } %>
                                <br>
                                


                    </div>
                    
                    <div class="mt-5">
                        <span id="fromDate" style="color: #fff;" class="text-white fw-bold fs-4 pe-3"></span><span id="toDate" class="text-white fw-bold fs-4 pe-3" style="color: #fff;"></span>
                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">

                    <div id="reloadDiv" style='color: #fff;'>
                        <table class="table table-dark table-bordered bg-black" style="--bs-table-bg: #18191f;
                        ">
                            <thead>
                                <tr>
                                    <th scope="col">NO</th>
                                    <th scope="col">Order Id</th>
                                    <th scope="col">Billing Name</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Payment</th>
                                </tr>
                            </thead>
                            <tbody id="tb">
                                <% if(locals.report){ %>
                                    <% locals.report.forEach((e,i)=>{ %>
                                        <tr>
                                            <td scope="col">
                                                <%= i+1 %>
                                            </td>
                                            <td scope="col">
                                                <%= e._id %>
                                            </td>
                                            <td scope="col">
                                                <%=e.deliveryAdress.name %>
                                            </td>
                                            <td scope="col">
                                                <%= e.orderDate.toString().split(' ').slice(0,4).join(' ') %>
                                        </td>
                                        <td scope="col">
                                            <%=e.orderAmount %>
                                        </td>
                                        <td scope="col">
                                            <%=e.peyment %>
                                        </td>
                                    </tr>
                                    <% })} %>
                            </tbody>
                        </table>
                    </div>
                </div>





            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->



<script>
const tb=document.getElementById('tb')
const start=document.getElementById('start')
const fromDate=document.getElementById('fromDate')
const toDate=document.getElementById('toDate')
const end=document.getElementById('end');
const form=document.getElementById('myForm');

function change(e){
    if(start.value!=='' &&end.value!=='' ){
        
        fetch('/admin/report',{
            method:'put',
            headers:{"Content-Type":'application/json'},
            body:JSON.stringify({start:start.value ,end:end.value })
        }).then(res=>res.json()).then(data=>{
            console.log(data)
            console.log(start.value,end.value)
         if(data.data.length>0){
            fromDate.textContent = "FROM: "+start.value;
            toDate.textContent = "TO: "+end.value;
            tb.innerHTML=data.data.map((e,i)=>`
            <tr>
                                            <td scope="col">
                                               ${i+1}
                                            </td>
                                            <td scope="col">
                                                ${e._id}
                                            </td>
                                            <td scope="col">
                                                ${e.deliveryAdress.name}
                                            </td>
                                            <td scope="col">
                                                ${e.orderDate.toString().split(' ').slice(0,4).join(' ')}
                                        </td>
                                        <td scope="col">
                                            ${e.orderAmount}
                                        </td>
                                        <td scope="col">
                                           ${e.peyment}
                                        </td>
                                    </tr>
            `).join('');
            form.action=`/admin/report/download/custom?start=${start.value}&&end=${end.value}`;
         } else{
            tb.innerHTML='no data here'
         }
        })
    }
}


</script>



    </section>
    <% if(locals.data){ %>
    <style>
        body {
            padding: 2rem;
          
            background-color: #212529;
        }
        select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #5c6664;
   background-image: none;
   /* flex: 1; */
   padding: 0 .5em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: ' Open Sans', sans-serif; } select::-ms-expand { display: none; } </style>
                                                    <% } %>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</html>