<%- include('../layout/header.ejs') -%>
<link rel="stylesheet" href="css/demos/skin-demo-6.css">
<link rel="stylesheet" href="css/demos/demo-6.css">
</head>
<body>
    <div class="ath">
           
        <div class="modal fade" style="display: none;" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true"
        style="width: 100vw; backdrop-filter: blur(1rem); height: 100vh; position: fixed; z-index: 999999; background-color: rgb(36 34 34 / 33%) ">
        <div class="modal fade show" style="display: block; border-radius: 15px;" id="exampleModal">
            <div class="modal-dialog hh" style="display: block; ">
                <style>
                    @media (min-width: 576px) {
                        .hh {
                            width: 20vw !important;
                        }
                    }
                </style>
                <div class="modal-content">
                    <div class="modal-header border-0 ">

                        <button type="button border-0" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center " style="margin-top: -1rem;">
                        <h5>Your Cart is add</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
            <div class="page-wrapper">
                <%- include('../layout/nave.ejs') -%>
                    <main class="main">
                        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                            <div class="container d-flex align-items-center">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Product</a></li>

                                </ol>


                            </div><!-- End .container -->
                        </nav><!-- End .breadcrumb-nav -->

                        <div class="page-content">
                            <div class="container">
                                <div class="product-details-top">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="product-gallery product-gallery-vertical">
                                                <div class="row">
                                                    <figure class="product-main-image position-relative imf">
                                                        <img id="product-zoom zoomim"
                                                            src="/productImage/<%=productDet.images[0]  %>"
                                                            data-zoom-image="/productImage/<%=productDet.images[0]  %>"
                                                            alt="product image">

                                                      
                                                    </figure><!-- End .product-main-image -->

                                                    <div id="product-zoom-gallery" class="product-image-gallery">
                                                        <% productDet.images.forEach(e=>{ %>
                                                            <a class="product-gallery-item active" href="#">
                                                                <img src="/productImage/<%=e  %>" alt="product side">
                                                            </a>
                                                            <% }) %>


                                                    </div><!-- End .product-image-gallery -->
                                                </div><!-- End .row -->
                                            </div><!-- End .product-gallery -->
                                        </div><!-- End .col-md-6 -->

                                        <div class="col-md-6">
                                            <div class="product-details">
                                                <h1 class="product-title">
                                                    <%=productDet.name %>
                                                </h1>
                                                <!-- End .product-title -->

                                                <div class="row">
                                                    <% if (productDet.actualPrice !== productDet.price) { %>
                                                        <div class="col-auto product-price text-decoration-line-through fw-lighter fst-italic">
                                                            $<%= productDet.actualPrice %>
                                                        </div>
                                                    <% } %>
                                                    <div class="col-auto product-price">
                                                        $<%= productDet.price %>
                                                    </div>
                                                </div>

                                                <div class="product-content">
                                                    <p>
                                                        <%= productDet.description %>.
                                                    </p>
                                                </div><!-- End .product-content -->

                                                <div class="details-filter-row details-row-size">
                                                    <label>Color:</label>
                                                    
                                                    <div class="product-nav product-nav- " >
                                                       
                                                            <a href="#" class="" >
                                                                <div  class="colorbox" style="background-color: <%= productDet.color %>;"></div>

                                                            </a>
                                                            
                                                    </div><!-- End .product-nav -->
                                                </div><!-- End .details-filter-row -->

                                                <div class="details-filter-row details-row-size">
                                                    <label>Stocks left:</label>
                                                    
                                                    <div class="product-nav product-nav- " >
                                                       
                                                        <h3 class="text-primary"><%= productDet.stock %></h3>
                                                            
                                                    </div><!-- End .product-nav -->
                                                </div><!-- End .details-filter-row -->
                                                
                                                <form action="/addcart?id=<%=productDet._id %>&user=<%=locals.login  %>" method="post">
                                                    <div class="details-filter-row details-row-size">
                                                        <label for="qty">Qty:</label>
                                                        <div class="product-details-quantity">
                                                            <input type="number" name="q" id="" value="1" min="1"
                                                                max="<%=productDet.stock  %>">
                                                        </div><!-- End .product-details-quantity -->
                                                    </div><!-- End .details-filter-row -->

                                                    <div class="product-details-action">
                                                        <button  class="btn-product btn-cart"
                                                            id="liveToastBtn"><span>add to
                                                                cart</span></button>
                                                    </div>
                                                    </form>
                                                        <div class="details-action-wrapper">
                                                            

                                                                <a
                                                                href="#" onclick="addwishlist('<%= productDet._id %>','<%=locals.login?locals.login:false  %>',1)"
                                                                class="btn-product btn-wishlist "
                                                                ><span>add to wishlist</span></a
                                                              >                                                               

                                                        </div><!-- End .details-action-wrapper -->
                                                    </div><!-- End .product-details-action -->
                                                
                                                <div class="product-details-footer">
                                                    <div class="product-cat">
                                                        <span>Category:</span>
                                                        <a href="#">
                                                            <%= productDet.category.name %>
                                                        </a>,

                                                    </div><!-- End .product-cat -->

                                                    <div class="social-icons social-icons-sm">
                                                        <span class="social-label">Share:</span>
                                                        <a href="#" class="social-icon" title="Facebook"
                                                            target="_blank"><i class="icon-facebook-f"></i></a>
                                                        <a href="#" class="social-icon" title="Twitter"
                                                            target="_blank"><i class="icon-twitter"></i></a>
                                                        <a href="#" class="social-icon" title="Instagram"
                                                            target="_blank"><i class="icon-instagram"></i></a>
                                                        <a href="#" class="social-icon" title="Pinterest"
                                                            target="_blank"><i class="icon-pinterest"></i></a>
                                                    </div>
                                                </div><!-- End .product-details-footer -->
                                            </div><!-- End .product-details -->
                                        </div><!-- End .col-md-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-details-top -->

                                <div class="product-details-tab">
                                    <ul class="nav nav-pills justify-content-center" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="product-desc-link" data-toggle="tab"
                                                href="#product-desc-tab" role="tab" aria-controls="product-desc-tab"
                                                aria-selected="true">Description</a>
                                        </li>
                                       
                                        
                                        <li class="nav-item">
                                            <a class="nav-link" id="product-review-link" data-toggle="tab"
                                                href="#product-review-tab" role="tab" aria-controls="product-review-tab"
                                                aria-selected="false">Reviews (2)</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                                            aria-labelledby="product-desc-link">
                                            <div class="product-desc-content">
                                                <h3>Product Information</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                                    Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                                    Suspendisse urna viverra non, semper suscipit, posuere a, pede.
                                                    Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
                                                    mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus
                                                    ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer
                                                    ligula vulputate sem tristique cursus. </p>
                                                <ul>
                                                    <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis
                                                        elit. </li>
                                                    <li>Vivamus finibus vel mauris ut vehicula.</li>
                                                    <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.
                                                    </li>
                                                </ul>

                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                                    Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                                    Suspendisse urna viverra non, semper suscipit, posuere a, pede.
                                                    Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
                                                    mauris sit amet orci. Aenean dignissim pellentesque felis. Phasellus
                                                    ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer
                                                    ligula vulputate sem tristique cursus. </p>
                                            </div><!-- End .product-desc-content -->
                                        </div><!-- .End .tab-pane -->
                                        
                                        
                                        <div class="tab-pane fade" id="product-review-tab" role="tabpanel"
                                            aria-labelledby="product-review-link">
                                            <div class="reviews">
                                                <h3>Reviews (2)</h3>
                                                <% if(locals.review) { %>
                                                <% review.forEach(e=>{ %>
                                                <div class="review">
                                                    <div class="row no-gutters">
                                                        <div class="col-auto">
                                                            <h4><a href="#"><%= e.userId.name %></a></h4>
                                                            <div class="ratings-container">
                                                                <div class="ratings">
                                                                    <!-- <div class="ratings-val" style="width: 100%;"></div> -->
                                                                    <div class="ratings-val" style="width: <%= 20 * e.rating %>%;"></div>
                                                                    <!-- End .ratings-val -->
                                                                </div><!-- End .ratings -->
                                                            </div><!-- End .rating-container -->
                                                            <!-- <span class="review-date">6 days ago</span> -->
                                                        </div><!-- End .col -->
                                                        <div class="col">
                                                            

                                                            <div class="review-content">
                                                                <p> <%= e.reviews %></p>
                                                            </div><!-- End .review-content -->

                                                            
                                                        </div><!-- End .col-auto -->
                                                    </div><!-- End .row -->
                                                </div><!-- End .review -->

                                                <% }) %>

                                                <% } %>
                                            </div><!-- End .reviews -->
                                        </div><!-- .End .tab-pane -->
                                    </div><!-- End .tab-content -->
                                </div><!-- End .product-details-tab -->



                                <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->

                                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow"
                                    data-toggle="owl" data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":1
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":4,
                                            "nav": true,
                                            "dots": false
                                        }
                                    }
                                }'>
                                <% likeproduct.forEach(e=>{ %>
                                    <div class="product product-7 text-center">
                                        <figure class="product-media">
                                            <span class="product-label label-new">New</span>
                                            <a href="/productDets?proId=<%=e._id  %>">
                                                <img src="/productImage/<%=e.images[0]  %>" alt="Product image"
                                                    class="product-image">
                                            </a>

                                            <div class="product-action-vertical">
                                                <a href="#"
                                                    class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                                        wishlist</span></a>
                                                
                                                
                                            </div><!-- End .product-action-vertical -->

                                            <div class="product-action">
                                                <div onclick="addCart('<%=e._id  %>','<%=locals.login?locals.login:false  %>',1)"
                                                    class="btn-product btn-cart " style="cursor: pointer;">
                                                    <span>add to cart</span>
                                                </div>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#"><%= e.category.name %></a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="product.html"><%= e.name %>
                                                    </a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                $<%=e.price %>
                                            </div><!-- End .product-price -->
                                            

                                          
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                <% })%>
                                </div><!-- End .owl-carousel -->


                            </div><!-- End .container -->
                        </div><!-- End .page-content -->
                    </main>

                    <%- include('../layout/lyfooter.ejs') -%>
            </div>
            <br>
            <br>
            <br>
            <br>

            <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

            <!-- sticky-bar -->

            <div class="sticky-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="/productImage/<%=productDet.images[0]  %>" alt="Product image">
                                </a>
                            </figure><!-- End .product-media -->
                            <h4 class="product-title"><a href="product.html">
                                    <%= productDet.name %>
                                </a>
                            </h4><!-- End .product-title -->
                        </div><!-- End .col-6 -->

                        <div class="col-6 justify-content-end">

                            <div class="product-price">
                                $<%= productDet.price %>
                            </div><!-- End .product-price -->
                            <div class="product-details-quantity">
                                <input type="number" id="sticky-cart-qty" class="form-control" value="1" min="1" max="3"
                                    step="1" data-decimals="0" required>
                            </div><!-- End .product-details-quantity -->

                            <div class="product-details-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                <a
                                    href="#" onclick="addwishlist('<%= productDet._id %>','<%=locals.login?locals.login:false  %>',1)"
                                    class="btn-product btn-wishlist "
                                    ><span>add to wishlist</span></a
                                  >
                            </div><!-- End .product-details-action -->
                        </div><!-- End .col-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div>
            <!-- Mobile Menu -->

            <!-- End .footer -->

        </div><!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Sticky Bar -->
        <div class="sticky-bar">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <figure class="product-media">
                            <a href="product.html">
                                <img src="/productImage/<%=productDet.images[0]  %>" alt="Product image">
                            </a>
                        </figure><!-- End .product-media -->
                        <h4 class="product-title"><a href="product.html">
                                <%= productDet.name %>
                            </a></h4>
                        <!-- End .product-title -->
                    </div><!-- End .col-6 -->

                    <div class="col-6 justify-content-end">
                      
                        <div class="product-price">
                            $<%= productDet.price %>
                        </div><!-- End .product-price -->
                        <div class="product-details-quantity">
                            <input type="number" id="sticky-cart-qty" class="form-control" value="1" min="1" max="10"
                                step="1" data-decimals="0" required>
                        </div><!-- End .product-details-quantity -->

                        <div class="product-details-action">
                            <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            <!-- <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to
                                    Wishlist</span></a> -->

                                    <a
                                    href="#" onclick="addwishlist('<%= productDet._id %>','<%=locals.login?locals.login:false  %>',1)"
                                    class="btn-product btn-wishlist"
                                    ><span>add to wishlist</span></a
                                  >
                        </div><!-- End .product-details-action -->
                    </div><!-- End .col-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .sticky-bar -->

        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

        <script>
            function addwishlist(id, user, q) {
      if (user === "false") {
        window.location.href = "/login";
      } else {
        fetch("/addToWishlist", {
          method: "post",
          headers: { "Content-type": "application/json" },
          body: JSON.stringify({ id, user, q }),
        })
          .then((res) => res.json())
          .then((data) => {
            console.log(data);
            if (data.success) {
              toast("success", "Added to wishlist");
            }
            if (data.exist) {
              toast("warning", "product already there");
            }
          });
      }
    }

    function toast(icon, title) {
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.onmouseenter = Swal.stopTimer;
          toast.onmouseleave = Swal.resumeTimer;
        },
      });
      Toast.fire({
        icon: icon,
        title: title,
      });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>


        
        <script>
            let color = document.querySelector('.colorbox');
            color.style.width = "20px";
            color.style.height = "20px"
        </script>
        <script>

            const elem = document.querySelector('.imf');

            let x, y, height, width;
            elem.onmouseenter = () => {
                const size = elem.getBoundingClientRect();
                x = size.x;
                y = size.y;
                width = size.width;
                height = size.height;

            }
            elem.onmousemove = e => {
                const horizontel = (e.clientX - x) / width * 100;
                const vertical = (e.clientY - y) / height * 100;
                console.log(vertical);

                elem.style.setProperty('--x', horizontel + '%')
                elem.style.setProperty('--y', vertical + '%')
                console.log(elem);
            }


        </script>

        <script>
            const thumbnails = document.querySelectorAll('.product-image-gallery .product-gallery-item img');
            thumbnails.forEach(thumbnail => {
                thumbnail.addEventListener('click', changeMainImage);
            });

            function changeMainImage(event) {
            const mainImage = document.querySelector('.product-main-image img');
            mainImage.src = event.target.src;
            }
        </script>
        <style>
            body::-webkit-scrollbar {
                width: 0;
            }

            .product-gallery-item:before {
                opacity: 0;
                visibility: hidden !important;
                border: 0.1rem solid #c96;
            }

            .imf {
                overflow: hidden;
            }

            .imf img {

                transform: scale(var(--zoom, 1));
                object-fit: cover;
                transform-origin: var(--x) var(--y);
                transition: cubic-bezier(0.18, 0.9, 0.33, 1.01) 1s;
                /* opacity: 0.3; */
            }

            .imf:hover {
                --zoom: 1.8;
                cursor: crosshair;



            }
        </style>
        <!-- End .mobile-menu-container -->
        <%- include('../layout/mobMenu.ejs') -%>


            <!-- Plugins JS File -->
            <script src="/js/jquery.min.js"></script>
            <script src="/js/bootstrap.bundle.min.js"></script>
            <script src="/js/jquery.hoverIntent.min.js"></script>
            <script src="/js/jquery.waypoints.min.js"></script>
            <script src="/js/superfish.min.js"></script>
            <script src="/js/owl.carousel.min.js"></script>
            <script src="/js/bootstrap-input-spinner.js"></script>

            <script src="/js/bootstrap-input-spinner.js"></script>
            <script src="/js/jquery.magnific-popup.min.js"></script>
            <!-- Main JS File -->
            <script src="/js/main.js"></script>
            <script src="https://unpkg.com/@studio-freight/lenis@1.0.33/dist/lenis.min.js" defer></script>

            <script src="/js/base.js"></script>
    </body>


    <!-- molla/product.html  22 Nov 2019 09:55:05 GMT -->

    </html>