<%- include('../layout/header.ejs') -%>
<link rel="stylesheet" href="css/mycss/profile.css" />
</head>
<body>
  <%- include('../layout/nave.ejs') -%>
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Account</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <br />

  <section class="">
    <div class="container-fluid py-5 h-100 position-relative">
      <div class="row d-flex align-items-start h-100" style="gap: 10rem">
        <aside class="col-md-4 col-lg-3">
          <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="tab-dashboard-link"
                data-toggle="tab"
                href="#tab-dashboard"
                role="tab"
                aria-controls="tab-dashboard"
                aria-selected="true"
                >Profile</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tab-orders-link" href="/order">Orders</a>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                id="tab-address-link"
                href="/adress"
                aria-selected="true"
                >Adresses</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="tab-account-link"
                data-toggle="tab"
                href="#tab-account"
                role="tab"
                aria-controls="tab-account"
                aria-selected="false"
                >Coupens</a
              >
            </li>
            <li class="nav-item">
              <form action="/logout" method="post">
                <a class="nav-link" href="#">
                  <button type="submit" class="border-0 bg-transparent">
                    Sign Out
                  </button></a
                >
              </form>
            </li>
          </ul>
        </aside>
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: 0.5rem">
            <div class="row g-0">
              <div
                class="col-md-4 d-flex flex-column align-items-center justify-content-center gap-2 gradient-custom text-center text-white"
                style="
                  border-top-left-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                  padding-top: 5rem;
                "
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar"
                  class="img-fluid"
                  style="width: 80px"
                />
                <h5><%= user.name %></h5>

                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <div
                    class="head h-100 d-flex align-items-center justify-content-between"
                  >
                    <h6>Information</h6>
                    <form action="/logout" method="post">
                      <button
                        class="bg-transparent border-0 d-flex align-items-center justify-content-center"
                      >
                        <h6 type="submit">
                          <i
                            class="ri-logout-circle-line"
                            style="cursor: pointer"
                          ></i>
                        </h6>
                      </button>
                    </form>
                  </div>
                  <hr class="mt-0 mb-4" />
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Name</h6>
                      <p class="text-muted"><%=user.name %></p>
                    </div>
                  </div>

                  <hr class="mt-0 mb-4" />
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted"><%= user.email %></p>
                    </div>
                  </div>
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <a href="/newPass" class="btn btn-primary"
                        >change password</a
                      >
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <a href="#!"
                      ><i class="fab fa-facebook-f fa-lg me-3"></i
                    ></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../layout/mobMenu.ejs') -%> <%- include('../layout/lyfooter') -%>

  <style>
    *::-webkit-scrollbar {
      width: 0;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none !important;
    }
  </style>

<% if (locals.passwordChangedAlert) { %>
  <script>
    alert('<%= locals.passwordChangedAlert %>');
  </script>
<% } %>


  <script
    src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"
    defer
  ></script>
  <script src="js/demos/demo-6.js"></script>
  <script
    src="https://unpkg.com/@studio-freight/lenis@1.0.33/dist/lenis.min.js"
    defer
  ></script>
  <%- include('../layout/footer.ejs') -%>
  <script src="js/base.js"></script>
</body>
