<%- include('../layout/header.ejs') -%>
  <link rel="stylesheet" href="/css/mycss/profile.css">
  </head>

  <body>

    <%- include('../layout/nave.ejs') -%>
      <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/profile">profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">wallet</li>
          </ol>
        </div><!-- End .container -->
      </nav>
      <br>



      <section class="">
        <div class="container-fluid  py-5 h-100 position-relative ">
          <div class="row d-flex    align-items-start  h-100" style="gap: 10rem;">
            <aside class="col-md-2 col-lg-2  ">
              <!-- profile nave -->
              <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">

                <li class="nav-item">
                  <a class="nav-link active" id="tab-orders-link" href="/profile" aria-selected="true">Back to profile</a>
                </li>

              </ul>
              <br>

            </aside>
            <aside class="col col-lg-6 col-md-6 mb-4 mb-lg-0">
              <div class="row w-100" style="gap: 2rem;">
                <div class="container" style="width: 900px; gap: 3rem;">
                  <table class="table table-wishlist table-mobile">
                    <thead>
                      <tr>
                        <th>no</th>
                        <th>amount</th>
                        <th>time</th>
                        <th>Debit Or Credit</th>
                   
                      </tr>
                    </thead>

                    <tbody>
                      <% if(locals.wallet) { %>
                        <% const transactionArray=wallet?.transaction?.reverse() %>
                        <% transactionArray?.forEach((elam, index)=>{ %>
                          <tr>
                         
                            <td class="stock-col ms-3 "><%=index+1  %>
                            </td>
                            <td class="stock-col ms-3 ">$<%=elam.amount %>
                            </td>
                            <td class="stock-col"><span class="">
                                <%=elam.time.toString().split(' ').slice(0,5).join('  ') %>
                              </span></td>
                            <td class="stock-col <%=elam.creditOrDebit=='debit'? 'text-danger' :'in-stock'%>">
                          
                              <%=elam.creditOrDebit%>
                            </td>

                       
                          </tr>
                          <% })} %>

                    </tbody>
                  </table>
                  <% if(locals.order) {%>
                    <div class="wishlist-share">
                      <div class="social-icons social-icons-sm mb-2">
                        <label class="social-label">Total:</label>
                        $<%=locals.order.orderAmount %>
                      </div><!-- End .soial-icons -->
                    </div>
                    <% } %>
                </div>

              </div>
            </aside>
          </div>

        </div>
        
        <%- include('../layout/pagination.ejs') -%>


      <%- include('../layout/mobMenu.ejs') -%>
        <%- include('../layout/lyfooter') -%>

          <style>
            *::-webkit-scrollbar {
              width: 0;
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none !important;
            }
          </style>
      
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
          <script src="js/demos/demo-6.js"></script>
          <script src="https://unpkg.com/@studio-freight/lenis@1.0.33/dist/lenis.min.js"></script>
          <%- include('../layout/footer.ejs') -%>
            <!-- <script src="js/base.js"></script> -->