<div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
<aside class="sidebar-shop sidebar-filter">
    <div class="sidebar-filter-wrapper">
        <div class="widget widget-clean">
            <label><i class="icon-close"></i>Filters</label>
            <a href="#" class="sidebar-filter-clear">Clean All</a>
        </div><!-- End .widget -->
        <div class="widget widget-collapsible">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-1" role="button"
                    aria-expanded="true" aria-controls="widget-1">
                    Category
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-1">
                <div class="widget-body">
                    <!-- <form action="/products" method="GET"> -->
                    <div class="filter-items filter-items-count">
                        <% category.forEach(e=>{ %>
                        <div class="filter-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input category-checkbox"
                                id="cb<%= e._id %>" name="category" value="<%= e._id %>" onchange="filterProducts()">
                                
                                <label class="custom-control-label"
                                    for="cb<%= e._id %>"><%= e.name %></label>

                            </div><!-- End .custom-checkbox -->
                            <span class="item-count">3</span>
                        </div><!-- End .filter-item -->
                        <% }) %>

                    </div><!-- End .filter-items -->
                    <!-- <button type="submit" class="btn btn-primary">Apply Filters</button> -->
                <!-- </form> -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->

        <!-- Filter Colour -->

        <div class="widget widget-collapsible">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-3" role="button"
                    aria-expanded="true" aria-controls="widget-3">
                    Colour
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-3">
                <div class="widget-body">
                    <div class="filter-colors">
                        <% Allproduct.forEach(e=>{ %>
                        <a href="#" style="background:<%= e.color %>;"><span class="sr-only">Color
                                Name</span></a>
                        <% }) %>
                        
                    </div><!-- End .filter-colors -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->

            
            
        </div><!-- End .widget -->

        

        <div class="widget widget-collapsible">
            <h3 class="widget-title">
                <a data-toggle="collapse" href="#widget-5" role="button"
                    aria-expanded="true" aria-controls="widget-5">
                    Price
                </a>
            </h3><!-- End .widget-title -->

            <div class="collapse show" id="widget-5">
                <div class="widget-body">
                    <div class="filter-price">
                        <div class="filter-price-text">
                            Price Range:
                            <span id="filter-price-range"></span>
                        </div><!-- End .filter-price-text -->

                        <div id="price-slider"></div><!-- End #price-slider -->
                    </div><!-- End .filter-price -->
                </div><!-- End .widget-body -->
            </div><!-- End .collapse -->
        </div><!-- End .widget -->
    </div><!-- End .sidebar-filter-wrapper -->
</aside><!-- End .sidebar-filter -->