<header class="header header-6">

    <div class="header-middle">
        <div class="container">
            <div class="header-left">
                <!-- End .header-search -->
            </div>
            <div class="header-center">
                <a href="/" class="logo">
                    <img src="/images/soundwave/logoblack.png" alt="Molla Logo" width="140" height="50">
                </a>
            </div><!-- End .header-left -->
            <!-- // wishlist and cart -->
            <% if(locals.login) {%>
            <div class="header-right">
                <a href="/wishlist" class="wishlist-link">
                    <i class="icon-heart-o"></i>
                    <span class="wishlist-count"><% if(locals.wishlistCount) {%>
                        <%= wishlistCount ? wishlistCount : 0 %>
                        <% } else { %>
                            0
                        <% } %></span>
                    <span class="wishlist-txt">My Wishlist</span>
                </a>

                <div  class=" cart-dropdown" >
                    <a  href="/cart" class="dropdown-toggle" 
                       >
                        <i class="icon-shopping-cart"></i>
                        <span class="cart-count"><% if(locals.cartCount) {%>
                            <%= cartCount ? cartCount : 0 %>
                            <% } else { %>
                                0
                            <% } %>
                        </span>
                        <span class="cart-txt">Cart</span>
                    </a>

          <!-- End .dropdown-menu -->
                </div><!-- End .cart-dropdown -->
            </div>
            <% } %>
        </div>
    </div>

    <div class="header-bottom sticky-header">
        <div class="container">
            <div class="header-left">
                <nav class="main-nav">
                    <ul class="menu ">
                        <li class="megamenu-container ">
                            <a href="/" class="">Home</a>
                        </li>
                        <li>
                            <a href="/products" class="">Products</a>

                            <!-- End .megamenu megamenu-md -->
                        </li>
                        <li>
                            <a href="" class="sf-with-ul">Category</a>
                            <ul>
                                <% category.forEach(e=>{ %>
                                    
                                <li><a href="/category?catName=<%= e.name %>"  style="cursor: pointer;">
                                   <%= e.name %>
                                  </a >
                                </li>
                                <% }) %>
                            </ul>

                        </li>

                        <li>
                            <a href="/about">About</a>


                        </li>
                        <li>
                            
                            <a href="<%= locals.login ? '/profile' : '/login' %>" class=""><%= locals.login ? 'Profile' : 'Login' %></a>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->

                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>
            </div><!-- End .header-left -->

            <div class="header-right">
               

                <i class="la la-lightbulb-o"></i>
                <p>Clearance Up to 30% Off</span></p>
            </div>
        </div><!-- End .container -->
    </div>
</header>

<script>
    function redirect(e){
        window.location.href = e;
    }
</script>
